@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic);
/*font-family: 'Noto Sans', sans-serif;*/
header {
  width: 80%;
  margin: 0 auto; }
  header .header-logo {
    width: 20% !important;
    float: left; }
  header h3 {
    float: right;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.5em;
    color: #061c42; }

/*helper classes*/
.left {
  float: left; }

.right {
  float: right; }

/*--clearfix hack--*/
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }

.home {
  background-image: url("../images/inicio/inicio-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .home .logo {
    display: block;
    margin: 12% auto 0 auto;
    width: 20%; }
  .home a {
    display: block;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    width: 10%;
    margin: 0 auto; }

.segunda {
  height: auto !important;
  padding: 5% 0 !important; }
  .segunda h2 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    color: #8e8c8c;
    font-size: 1em;
    text-align: center; }
  .segunda p {
    width: 48%;
    font-family: 'Noto Sans', sans-serif;
    font-size: .9em; }

.center-cont {
  width: 70%;
  margin: 0 auto; }

.tipo-de-seguro {
  height: auto !important; }
  .tipo-de-seguro img {
    display: inline-block;
    vertical-align: top;
    width: 33.12%;
    margin: .16% 0; }

/* Large screens ----------- 
@media only screen 
and (min-width : 1400px) {
.tipo-de-seguro{
	img{display: inline-block; vertical-align: top; width: 16.43%; margin: .16% 0;}
}


}*/
.contacto .container {
  background-color: #eff0f0;
  padding: 5% 0; }
.contacto .contacto-inner {
  width: 80%;
  margin: 0 auto; }
  .contacto .contacto-inner img {
    display: block;
    float: left;
    width: 10%; }
  .contacto .contacto-inner form {
    display: block;
    padding: 4% 0;
    clear: both; }
    .contacto .contacto-inner form input[type="text"] {
      border: 1px solid #ccc;
      color: #061c42;
      border-radius: 4px;
      display: inline-block;
      vertical-align: middle;
      width: 22.51%;
      padding: 1% 1%;
      outline: none; }
    .contacto .contacto-inner form .seguro-seleccionado {
      width: 98% !important;
      display: block !important;
      margin: 1% 0;
      color: #061c42 !important; }
    .contacto .contacto-inner form input[type="button"] {
      color: #e56803;
      border: 3px solid #e56803;
      background-color: transparent;
      width: 20%;
      display: block;
      padding: 1%;
      float: right;
      outline: none; }
  .contacto .contacto-inner textarea {
    width: 99.5% !important;
    display: block !important;
    margin: 1% 0;
    border: 1px solid #ccc;
    color: #061c42;
    border-radius: 4px;
    height: 5em;
    outline: none; }
  .contacto .contacto-inner .contact-text {
    width: 80%;
    float: right; }
    .contacto .contacto-inner .contact-text h2 {
      font-family: 'Noto Sans', sans-serif;
      font-weight: 400;
      color: #e56803;
      margin: 0; }
    .contacto .contacto-inner .contact-text p {
      margin: 7px 0;
      color: #061c42;
      font-family: 'Noto Sans', sans-serif;
      font-weight: 400;
      font-size: .9em; }
