.contacto{
.container{background-color:#eff0f0; padding:5% 0;}
		.contacto-inner{width:80%; margin:0 auto;
			img{display: block; float: left; width: 10%;}
			.contact-text{width:80%; float:right;
				h2{font-family: 'Noto Sans', sans-serif; font-weight:400; color:#e56803; margin:0;}
				p{margin:7px 0; color:#061c42; font-family: 'Noto Sans', sans-serif; font-weight:400; font-size: .9em;}
			}
		}
}