footer{
	width:80%; margin:0 auto;
	img{width:19%!important; display:block!important; float:left;}
	>div{width:70%; float:right;
		p{font-family: 'Noto Sans', sans-serif; font-size: .7em; float:left; color:#a0a1a1;}
		a{color:#a0a1a1; font-family: 'Noto Sans', sans-serif; font-size: .7em; float:right; display: block; margin-top:10px;}
	}
}