header{
	width:80%; margin:0 auto;
	.header-logo{width: 20%!important; float:left;}
	h3{float:right; font-family: 'Noto Sans', sans-serif; font-weight: 400; font-style: italic; font-size: 1.5em;  color:#061c42;}
}