.segunda{padding: 3% 0 3% 0!important; margin-top: 5%; background-color: #fff;
	h2{font-family: 'Noto Sans', sans-serif; font-weight: 700; color:#8e8c8c; font-size: 1em; text-align: center;}
	p{width:48%; font-family: 'Noto Sans', sans-serif; font-size: .9em;}
}

.center-cont {width:70%; margin:0 auto;}