.tipo-de-seguro{
	height: auto!important;
	img{display: inline-block; vertical-align: top; width: 33.12%; margin: .16% 0;}
}


/* Large screens ----------- 
@media only screen 
and (min-width : 1400px) {
.tipo-de-seguro{
	img{display: inline-block; vertical-align: top; width: 16.43%; margin: .16% 0;}
}


}*/

